### Write a program to download the data from the link given below and then read the data and convert the into the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.

Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [1]:
import pandas as pd
import ast
from datetime import date

In [2]:
import urllib

from urllib.request import urlopen

 

# import json

import json
from pandas.io.json import json_normalize

# store the URL in url as

# parameter for urlopen

url = "https://data.nasa.gov/resource/y77d-th95.json"

 

# store the response of URL

response = urlopen(url)

 

# storing the JSON response

# from url in data

data_json = json.loads(response.read())

 

df=json_normalize(data_json)

<ipython-input-2-116c53286427>:34: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df=json_normalize(data_json)

In [3]:
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,Point,"[79.41667, 13.63333]",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,Point,"[-7.61123, 29.48195]",NaN,NaN
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,Point,"[111.53333, -7.08333]",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,Point,"[106.58333, -6.66667]",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,Point,"[34.76667, 47.85]",NaN,NaN

In [4]:
df.year

0      1880-01-01T00:00:00.000
1      1951-01-01T00:00:00.000
2      1952-01-01T00:00:00.000
3      1976-01-01T00:00:00.000
4      1902-01-01T00:00:00.000
                ...
995    1934-01-01T00:00:00.000
996    2011-01-01T00:00:00.000
997    1869-01-01T00:00:00.000
998    1922-01-01T00:00:00.000
999    1905-01-01T00:00:00.000
Name: year, Length: 1000, dtype: object

In [5]:
df["year"]=df.year.str.split("T").str[0]

In [6]:
df[df["name"]=='Tomakovka']
# checking from sample

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01,47.850000,34.766670,Point,"[34.76667, 47.85]",NaN,NaN

In [7]:
# ● Name of Earth Meteorite - string 
# id - ID of Earth Meteorite - int
# nametype - string 
# recclass - string
# ● mass - Mass of Earth Meteorite - float 
# year - Year at which Earth Meteorite was hit - datetime
#  reclat - float 
# recclong - float
# ● point coordinates - list of int

In [8]:
df["id"].dtype

dtype('O')

In [9]:
df["id"]=df["id"].astype(int)

In [10]:
df["id"].dtype

dtype('int32')

In [11]:
df["mass"]=df["mass"].astype(float)

In [12]:
df['year'].isnull().sum()

1

In [13]:
df[df['year'].isnull()]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
37,Northwest Africa 5815,50693,Valid,L5,256.8,Found,NaN,0.000000,0.000000,Point,"[0, 0]",NaN,NaN

In [14]:
# To Removing the null values in year column
# 37 is the index of the instace where the year is null 
df.drop(37,inplace=True)

In [15]:
df['year'].isnull().sum()

0

In [16]:
df['year'] = pd.to_datetime(df['year'],errors = 'coerce')

In [17]:
df["reclat"]=df["reclat"].astype(float)

In [18]:
df["reclong"]=df["reclong"].astype(float)

In [19]:
df["reclong"].dtype

dtype('float64')

In [20]:
df["geolocation.coordinates"].dtype

dtype('O')

In [21]:
df["geolocation.coordinates"] = df["geolocation.coordinates"].astype(str)

In [22]:
df['geolocation.coordinates'].value_counts()

nan                     12
[12.43333, 7.05]         2
[6.08333, 50.775]        1
[30.35, 31.31667]        1
[33.5, -11.5]            1
                        ..
[-79.61667, 43.2]        1
[45.38333, 43.66667]     1
[18.71667, 49.26667]     1
[30.58333, 46.35]        1
[34.76667, 47.85]        1
Name: geolocation.coordinates, Length: 987, dtype: int64

In [23]:
df.drop(df[df['geolocation.coordinates'] == 'nan'].index,inplace=True)

In [24]:
df['geolocation.coordinates'].value_counts()

[12.43333, 7.05]        2
[6.08333, 50.775]       1
[30.35, 31.31667]       1
[33.5, -11.5]           1
[77.01667, 12.63333]    1
                       ..
[-79.61667, 43.2]       1
[45.38333, 43.66667]    1
[18.71667, 49.26667]    1
[30.58333, 46.35]       1
[34.76667, 47.85]       1
Name: geolocation.coordinates, Length: 986, dtype: int64

In [25]:
lst = []
for i in df['geolocation.coordinates']:
    i = ast.literal_eval(i)
    lst.append([int(round(x)) for x in i])

In [26]:
lst

[[6, 51],
 [10, 56],
 [-113, 54],
 [-100, 17],
 [-65, -33],
 [72, 32],
 [95, 45],
 [1, 44],
 [-65, -32],
 [-65, -31],
 [-10, 16],
 [8, 19],
 [2, 51],
 [35, 30],
 [78, 30],
 [8, 9],
 [43, 40],
 [40, 24],
 [29, 14],
 [4, 44],
 [11, 45],
 [23, 2],
 [6, 46],
 [-2, 52],
 [37, 36],
 [9, 45],
 [32, 51],
 [10, 45],
 [-86, 43],
 [-105, 27],
 [32, 21],
 [44, 35],
 [78, 28],
 [86, 27],
 [-71, 45],
 [38, 49],
 [77, 21],
 [-1, 47],
 [-44, -23],
 [40, 10],
 [105, 25],
 [141, 41],
 [-3, 54],
 [5, 44],
 [-66, -33],
 [-94, 38],
 [-61, -31],
 [9, 42],
 [-97, 32],
 [0, 52],
 [13, 43],
 [81, 25],
 [-104, 20],
 [-87, 35],
 [-96, 34],
 [5, 44],
 [4, 36],
 [3, 44],
 [1, 43],
 [-50, -21],
 [14, 46],
 [-104, 25],
 [33, 3],
 [-108, 37],
 [38, 49],
 [78, 28],
 [-82, 36],
 [-89, 34],
 [16, 5],
 [101, 17],
 [108, -7],
 [76, 28],
 [78, 30],
 [106, -6],
 [0, 44],
 [2, 41],
 [-2, 42],
 [84, 53],
 [9, 52],
 [77, 32],
 [-1, 53],
 [-6, 16],
 [21, 52],
 [-98, 45],
 [-84, 38],
 [-117, 41],
 [0, 11],
 [-94, 37],
 [-101, 40],
 [-117, 51],
 [-4, 53],
 [-96, 34],
 [-65, -32],
 [83, 25],
 [-8, 32],
 [11, 33],
 [-89, 39],
 [28, -26],
 [-7, 30],
 [-68, 46],
 [-58, -32],
 [-4, 12],
 [-4, 42],
 [-105, 40],
 [-74, 43],
 [0, 43],
 [36, 34],
 [75, 21],
 [73, 27],
 [71, 21],
 [91, 23],
 [87, 22],
 [23, 53],
 [27, 50],
 [0, 12],
 [116, -33],
 [5, 14],
 [-80, 34],
 [83, 25],
 [30, 50],
 [26, 60],
 [-78, 41],
 [-97, 37],
 [-99, 32],
 [17, 49],
 [-89, 40],
 [116, 34],
 [-102, 23],
 [1, 12],
 [132, 45],
 [10, 45],
 [78, 22],
 [52, 54],
 [24, 48],
 [36, 55],
 [34, 51],
 [-11, 18],
 [-11, 17],
 [-6, 55],
 [-80, 40],
 [16, 51],
 [8, 51],
 [9, 53],
 [59, 52],
 [-113, 54],
 [65, 40],
 [129, -31],
 [10, 10],
 [48, 5],
 [-82, 38],
 [29, 40],
 [26, 46],
 [83, 27],
 [84, 27],
 [-110, 53],
 [-1, 38],
 [-94, 36],
 [20, 44],
 [-77, 3],
 [122, 12],
 [-40, -7],
 [27, 40],
 [2, 41],
 [-5, 43],
 [-105, 38],
 [-90, 37],
 [-65, -31],
 [-69, -17],
 [27, 38],
 [-78, 36],
 [12, 43],
 [-69, 44],
 [16, 40],
 [-79, 36],
 [-105, 26],
 [-97, 43],
 [8, 45],
 [109, 29],
 [82, 25],
 [83, 26],
 [-58, -31],
 [76, 20],
 [79, 27],
 [112, 29],
 [1, 47],
 [-87, 36],
 [2, 48],
 [76, 29],
 [5, 48],
 [3, 48],
 [-7, 42],
 [32, -4],
 [61, 55],
 [-5, 24],
 [30, 54],
 [-82, 35],
 [7, 47],
 [34, 51],
 [76, 14],
 [102, 18],
 [-80, 41],
 [33, -10],
 [14, -17],
 [1, 47],
 [108, -7],
 [-82, 32],
 [-90, 45],
 [19, -33],
 [-85, 44],
 [13, 43],
 [-48, -20],
 [-101, 21],
 [76, 10],
 [-98, 36],
 [27, -28],
 [-78, 36],
 [-6, 55],
 [-84, 37],
 [-84, 38],
 [9, 36],
 [84, 27],
 [25, -28],
 [-87, 34],
 [9, 50],
 [60, 42],
 [-80, -2],
 [-80, 43],
 [-74, 40],
 [77, 29],
 [85, 51],
 [-105, 40],
 [94, 27],
 [74, 26],
 [81, 19],
 [77, 24],
 [71, 22],
 [76, 15],
 [76, 32],
 [27, 37],
 [19, -34],
 [-60, -32],
 [112, -8],
 [15, 13],
 [10, 37],
 [90, 24],
 [25, 51],
 [29, 40],
 [119, 46],
 [82, 22],
 [121, 33],
 [112, 51],
 [3, 13],
 [-6, 32],
 [34, -14],
 [-86, 36],
 [-82, 43],
 [18, 42],
 [153, -32],
 [-8, 53],
 [128, 43],
 [77, 30],
 [40, -4],
 [127, 33],
 [31, -27],
 [82, 26],
 [151, -3],
 [-96, 41],
 [16, -17],
 [11, 49],
 [13, 56],
 [79, 28],
 [3, 34],
 [-97, 25],
 [-103, 20],
 [-105, 39],
 [13, 50],
 [38, 48],
 [4, 52],
 [152, -29],
 [110, 30],
 [7, 48],
 [6, 48],
 [82, 19],
 [44, 40],
 [44, 1],
 [11, 52],
 [-1, 46],
 [31, 3],
 [-95, 43],
 [-97, 40],
 [-78, 36],
 [3, 44],
 [-94, 36],
 [8, 37],
 [-87, 33],
 [117, 35],
 [-81, 36],
 [14, 43],
 [-97, 48],
 [-98, 31],
 [-94, 43],
 [147, -33],
 [-78, 37],
 [7, 51],
 [-84, 33],
 [7, 28],
 [-88, 34],
 [114, 31],
 [130, 33],
 [10, 55],
 [81, 26],
 [116, 33],
 [0, 44],
 [12, 7],
 [12, 7],
 [31, 52],
 [69, 27],
 [-2, 12],
 [69, 28],
 [-112, 42],
 [11, 13],
 [-2, 14],
 [12, 13],
 [137, 36],
 [14, 37],
 [10, 10],
 [7, 52],
 [108, -7],
 [38, 57],
 [0, 52],
 [17, 51],
 [89, 24],
 [38, 48],
 [2, 43],
 [11, 61],
 [-80, 43],
 [45, 44],
 [19, 49],
 [31, 46],
 [16, 52],
 [17, 53],
 [-59, -33],
 [123, 40],
 [105, 24],
 [118, 37],
 [-6, 39],
 [20, 44],
 [-1, 14],
 [14, 10],
 [76, 23],
 [12, 11],
 [25, 43],
 [79, 14],
 [42, 9],
 [8, 52],
 [128, 35],
 [139, 36],
 [4, 50],
 [16, 58],
 [-87, 41],
 [83, 27],
 [76, 28],
 [-95, 33],
 [-86, 38],
 [137, 35],
 [1, 29],
 [-2, 52],
 [22, 60],
 [14, 55],
 [36, 27],
 [-84, 10],
 [18, 60],
 [130, 34],
 [-4, 56],
 [132, 34],
 [31, 1],
 [21, 64],
 [-110, 35],
 [38, 9],
 [-92, 42],
 [-158, 21],
 [116, 36],
 [-100, 39],
 [16, 46],
 [107, 26],
 [9, 50],
 [23, 61],
 [8, 52],
 [-45, -20],
 [35, 38],
 [83, 58],
 [28, -32],
 [-52, -23],
 [145, -6],
 [47, 40],
 [-94, 39],
 [112, 41],
 [-111, 53],
 [-54, -26],
 [34, -9],
 [-58, -31],
 [-44, -3],
 [-13, 27],
 [32, -8],
 [22, -32],
 [68, 27],
 [75, 31],
 [75, 19],
 [106, 40],
 [20, 44],
 [14, 46],
 [72, 31],
 [105, 32],
 [110, 31],
 [126, 44],
 [70, 23],
 [24, 56],
 [-105, 40],
 [16, -12],
 [0, 45],
 [115, 36],
 [77, 13],
 [111, -8],
 [119, 35],
 [-7, 39],
 [4, 45],
 [21, 47],
 [8, 12],
 [78, 27],
 [80, 27],
 [31, 50],
 [48, 15],
 [53, 55],
 [79, 12],
 [22, 45],
 [30, -7],
 [74, 18],
 [81, 26],
 [140, 36],
 [76, 14],
 [66, 32],
 [116, -7],
 [76, 32],
 [34, 5],
 [73, 20],
 [73, 42],
 [81, 47],
 [36, -4],
 [7, 13],
 [67, 28],
 [72, 32],
 [140, -35],
 [137, 35],
 [78, 30],
 [10, 11],
 [76, 25],
 [32, 39],
 [112, -8],
 [29, 37],
 [-96, 29],
 [87, 20],
 [-3, 48],
 [-3, 48],
 [142, 39],
 [72, 30],
 [83, 26],
 [35, 51],
 [78, 27],
 [76, 28],
 [75, 57],
 [82, 25],
 [36, 16],
 [28, 14],
 [10, 54],
 [-11, 17],
 [138, 37],
 [34, 55],
 [10, 13],
 [-90, 44],
 [-8, 55],
 [25, 12],
 [-96, 31],
 [22, 48],
 [-80, 43],
 [11, 52],
 [22, 49],
 [135, 35],
 [134, 34],
 [140, 36],
 [26, 43],
 [21, 49],
 [7, 49],
 [41, 54],
 [56, 54],
 [77, 57],
 [31, 48],
 [32, 51],
 [67, 31],
 [34, 51],
 [45, 41],
 [61, 56],
 [59, 42],
 [138, 37],
 [78, 30],
 [39, 45],
 [76, 11],
 [75, 55],
 [131, 32],
 [2, 47],
 [-101, 21],
 [-62, -37],
 [-58, -31],
 [6, 44],
 [83, 27],
 [1, 49],
 [76, 22],
 [79, 24],
 [1, 48],
 [5, 44],
 [17, 59],
 [126, 46],
 [16, 48],
 [115, 33],
 [-1, 52],
 [52, 52],
 [0, 47],
 [-1, 49],
 [-99, 36],
 [28, -26],
 [-7, 53],
 [-88, 35],
 [33, 52],
 [3, 48],
 [5, 50],
 [26, -26],
 [16, 57],
 [-9, 53],
 [13, 53],
 [119, 32],
 [15, 50],
 [-92, 38],
 [26, 56],
 [72, 30],
 [73, 27],
 [-77, 39],
 [-1, 38],
 [-95, 36],
 [-86, 38],
 [20, 52],
 [75, 25],
 [0, 48],
 [-85, 32],
 [103, 25],
 [13, 56],
 [28, 61],
 [5, 46],
 [29, -7],
 [97, 19],
 [-37, -5],
 [35, -15],
 [32, -29],
 [86, 26],
 [112, -8],
 [-4, 40],
 [-50, -26],
 [28, 38],
 [32, -19],
 [96, 28],
 [9, 13],
 [-104, 32],
 [32, 10],
 [34, -3],
 [-63, -29],
 [27, -29],
 [62, 45],
 [87, 23],
 [76, 21],
 [32, -18],
 [45, 46],
 [72, 34],
 [-99, 43],
 [11, 55],
 [29, 5],
 [-50, -22],
 [-92, 42],
 [30, 62],
 [0, 44],
 [48, -14],
 [-84, 36],
 [2, 45],
 [0, 0],
 [13, 48],
 [13, 48],
 [57, -20],
 [12, 9],
 [-102, 25],
 [30, -1],
 [34, 1],
 [-68, -27],
 [78, 29],
 [107, -6],
 [13, 53],
 [7, 47],
 [12, 55],
 [38, 0],
 [82, 25],
 [16, 38],
 [11, 51],
 [3, 46],
 [26, 46],
 [84, 26],
 [112, 35],
 [-1, 55],
 [-90, 43],
 [31, 48],
 [133, 36],
 [18, 46],
 [16, 46],
 [120, -26],
 [-92, 35],
 [137, 35],
 [15, 37],
 [121, 32],
 [17, 48],
 [83, 26],
 [23, 57],
 [6, 62],
 [24, 47],
 [-101, 38],
 [174, -40],
 [-1, 38],
 [26, -31],
 [-103, 32],
 [-80, 35],
 [-8, 38],
 [13, 43],
 [2, 43],
 [2, 48],
 [27, -16],
 [-79, 35],
 [-8, 52],
 [146, -41],
 [79, 29],
 [19, 50],
 [5, 45],
 [11, 59],
 [77, 27],
 [8, 45],
 [142, -30],
 [5, 19],
 [7, 44],
 [34, -12],
 [77, 13],
 [81, 9],
 [90, 24],
 [145, -37],
 [-88, 37],
 [86, 26],
 [73, 23],
 [1, 12],
 [140, 38],
 [78, 27],
 [20, 49],
 [30, 31],
 [100, 14],
 [79, 12],
 [104, 36],
 [-77, 38],
 [122, 32],
 [77, 19],
 [52, 34],
 [151, -34],
 [13, 43],
 [166, -22],
 [84, 21],
 [136, 36],
 [83, 19],
 [35, 10],
 [22, 56],
 [11, 48],
 [-82, 40],
 [36, 15],
 [-90, 30],
 [111, -7],
 [-4, 14],
 [-1, 49],
 [79, 52],
 [37, 56],
 [121, 30],
 [106, 33],
 [132, 34],
 [31, -29],
 [-69, 44],
 [-86, 40],
 [131, 34],
 [-60, -32],
 [-92, 36],
 [-100, 40],
 [12, 45],
 [46, 55],
 [31, 59],
 [22, 56],
 [102, 43],
 [-102, 24],
 [1, 42],
 [142, 43],
 [95, 21],
 [22, 48],
 [55, 58],
 [8, 52],
 [23, 58],
 [22, 48],
 [130, 33],
 [24, 46],
 [8, 7],
 [-5, 38],
 [139, 36],
 [135, 35],
 [26, 51],
 [8, 53],
 [0, 39],
 [-7, 39],
 [-2, 40],
 [162, 64],
 [1, 44],
 [-81, 29],
 [6, 47],
 [8, 48],
 [13, 42],
 [9, 59],
 [140, 38],
 [-95, 39],
 [0, 13],
 [-7, 30],
 [-13, 24],
 [-8, 38],
 [16, -18],
 [-6, 43],
 [29, 51],
 [-99, 21],
 [25, 56],
 [120, 18],
 [-90, 32],
 [-65, -23],
 [119, 43],
 [-92, 40],
 [-158, 21],
 [121, 15],
 [124, 8],
 [-90, 36],
 [-41, -6],
 [-52, -19],
 [-88, 41],
 [78, 9],
 [85, 26],
 [-103, 36],
 [82, 21],
 [-49, -20],
 [15, 38],
 [91, 23],
 [26, 43],
 [77, 52],
 [36, 49],
 [43, 52],
 [-4, 11],
 [-118, 56],
 [9, 52],
 [-74, 41],
 [-103, 30],
 [36, -11],
 [91, 23],
 [-3, 56],
 [39, 57],
 [66, 56],
 [0, 14],
 [-87, 35],
 [-7, 54],
 [-99, 40],
 [109, 11],
 [105, 12],
 [108, 16],
 [12, 44],
 [-6, 41],
 [26, 59],
 [74, 26],
 [19, -33],
 [88, 26],
 [76, 30],
 [-84, 32],
 [-96, 31],
 [27, 45],
 [14, 51],
 [105, 12],
 [12, 51],
 [83, 27],
 [14, 66],
 [-4, 53],
 [-103, 34],
 [-8, 38],
 [118, 31],
 [14, 48],
 [14, 50],
 [-84, 39],
 [-4, 39],
 [75, 23],
 [21, 53],
 [79, 13],
 [-53, -29],
 [122, 32],
 [106, 27],
 [29, -30],
 [95, 18],
 [-1, 39],
 [126, 45],
 [0, 47],
 [-65, -27],
 [76, 28],
 [70, 28],
 [37, 53],
 [83, 26],
 [88, 24],
 [7, 52],
 [87, 24],
 [-101, 20],
 [72, 25],
 [116, 38],
 [50, 27],
 [27, 44],
 [18, 52],
 [-120, 38],
 [-5, 42],
 [111, -7],
 [11, 45],
 [-65, -33],
 [116, 39],
 [46, 49],
 [-119, 51],
 [77, 28],
 [-83, 35],
 [-66, -44],
 [-102, 47],
 [-99, 31],
 [-78, 37],
 [-50, -26],
 [10, 45],
 [-86, 41],
 [151, -23],
 [1, 42],
 [11, 50],
 [-84, 45],
 [-3, 53],
 [30, -1],
 [37, 0],
 [39, -10],
 [34, 51],
 [82, 27],
 [92, 23],
 [15, 52],
 [1, 44],
 [0, 45],
 [136, 36],
 [-123, 45],
 [5, 46],
 [11, 53],
 [75, 26],
 [-118, 33],
 [13, 44],
 [-71, -31],
 [-101, 20],
 [-52, -29],
 [-99, 24],
 [-62, -34],
 [-68, -32],
 [-49, -21],
 [47, 53],
 [138, 35],
 [-1, 43],
 [30, 47],
 [139, 36],
 [18, 49],
 [15, 53],
 [-74, 43],
 [10, 48],
 [-69, 44],
 [27, 38],
 [85, 27],
 [107, -7],
 [5, 23],
 [79, 22],
 [0, 42],
 [141, 39],
 [80, 22],
 [24, 41],
 [-37, -8],
 [-44, -19],
 [-6, 37],
 [37, 51],
 [11, 35],
 [87, 23],
 [-77, 38],
 [-80, 44],
 [85, 25],
 [120, 34],
 [88, 26],
 [126, 44],
 [75, 34],
 [90, 24],
 [12, 43],
 [135, 46],
 [-101, 21],
 [27, 44],
 [8, 50],
 [32, 31],
 [70, 26],
 [9, 39],
 [-104, 43],
 [83, 21],
 [36, 40],
 [120, 32],
 [11, 60],
 [16, 46],
 [35, 55],
 [84, 27],
 [22, 44],
 [2, 47],
 [22, 54],
 [135, 35],
 [125, 45],
 [24, 44],
 [34, 2],
 [0, 45],
 [-2, 47],
 [4, 51],
 [-1, 48],
 [-90, 39],
 [27, -32],
 [-76, 38],
 [4, 48],
 [27, 62],
 [3, 43],
 [15, 60],
 [16, 49],
 [42, 45],
 [3, 51],
 [56, 54],
 [9, 53],
 [-73, 41],
 [-3, 57],
 [-4, 50],
 [-73, 46],
 [-91, 36],
 [16, 51],
 [113, 32],
 [78, 13],
 [84, 26],
 [133, 45],
 [84, 27],
 [-121, 39],
 [-86, 33],
 [15, 49],
 [5, 36],
 [-134, 60],
 [137, 35],
 [135, 35],
 [113, -8],
 [-7, 31],
 [136, 35],
 [123, 45],
 [10, 33],
 [44, 19],
 [44, 35],
 [24, 47],
 [143, -26],
 [27, 58],
 [71, 33],
 [37, -1],
 [28, -29],
 [119, 33],
 [17, 50],
 [-90, 38],
 [2, 14],
 [35, 54],
 [79, 14],
 [-8, 29],
 [112, -7],
 [107, -7],
 [35, 48]]

In [27]:
df['geolocation.coordinates']=lst

In [28]:
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01,50.77500,6.08333,Point,"[6, 51]",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01,56.18333,10.23333,Point,"[10, 56]",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01,54.21667,-113.00000,Point,"[-113, 54]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01,16.88333,-99.90000,Point,"[-100, 17]",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01,-33.16667,-64.95000,Point,"[-65, -33]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230.0,Fell,1934-01-01,13.63333,79.41667,Point,"[79, 14]",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000.0,Fell,2011-01-01,29.48195,-7.61123,Point,"[-8, 29]",NaN,NaN
997,Tjabe,24011,Valid,H6,20000.0,Fell,1869-01-01,-7.08333,111.53333,Point,"[112, -7]",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500.0,Fell,1922-01-01,-6.66667,106.58333,Point,"[107, -7]",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600.0,Fell,1905-01-01,47.85000,34.76667,Point,"[35, 48]",NaN,NaN

In [29]:
df.to_csv("Nasa.csv",index=False,header=True)

In [30]:
pd.read_csv('Nasa.csv')

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01,50.77500,6.08333,Point,"[6, 51]",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01,56.18333,10.23333,Point,"[10, 56]",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01,54.21667,-113.00000,Point,"[-113, 54]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01,16.88333,-99.90000,Point,"[-100, 17]",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01,-33.16667,-64.95000,Point,"[-65, -33]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,Tirupati,24009,Valid,H6,230.0,Fell,1934-01-01,13.63333,79.41667,Point,"[79, 14]",NaN,NaN
983,Tissint,54823,Valid,Martian (shergottite),7000.0,Fell,2011-01-01,29.48195,-7.61123,Point,"[-8, 29]",NaN,NaN
984,Tjabe,24011,Valid,H6,20000.0,Fell,1869-01-01,-7.08333,111.53333,Point,"[112, -7]",NaN,NaN
985,Tjerebon,24012,Valid,L5,16500.0,Fell,1922-01-01,-6.66667,106.58333,Point,"[107, -7]",NaN,NaN
986,Tomakovka,24019,Valid,LL6,600.0,Fell,1905-01-01,47.85000,34.76667,Point,"[35, 48]",NaN,NaN